<h1>Create an article</h1>

<% if @article.errors.any? %>
  <h2>The following errors prevented the articles from being created: </h2>
  <ul>
<% @article.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
<%= form_for @article do |field| %>
  <p>
    <%= field.label :title %><br>
    <%= field.text_field :title %>
  </p>
  <p>
    <%= field.label :description %><br>
    <%= field.text_area :description %>
  </p>
  <p>
    <%= field.submit %>
  </p>
<%end%>